# Vite build output
frontend/dist/

# Virtual env / uv cache
.venv/
.uv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables / secrets
*.env
.env.*

# Node
node_modules/

# OS
.DS_Store

# Optional build
/frontend/dist/
/frontend/.vite/
/frontend/.cache/


# Optional local dev files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
backend/staticfiles/
*.pot
*.mo

# Docker Compose override files
docker-compose.override.yml

# Docker temp / build files
**/tmp/
**/.dockerignore
**/Dockerfile.*

# macOS
.DS_Store

# Linux
*~
.nfs*

# VSCode
.vscode/
*.code-workspace

# JetBrains
.idea/
*.iml

# Log files
*.log
*.out

# Coverage / test reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# PyInstaller
dist/
build/