# Vite build output
frontend/dist/

# Virtual env / uv cache
.venv/
.uv/
__pycache__/
*.pyc

# Node
node_modules/

# OS
.DS_Store

# Optional build
/frontend/dist/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
backend/staticfiles/